<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="hidro_arm_2dof">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.015484 -0.0099673 -0.039447"
        rpy="0 0 0" />
      <mass
        value="0.1603" />
      <inertia
        ixx="7.1642E-05"
        ixy="5.1444E-07"
        ixz="-5.3098E-06"
        iyy="0.0001433"
        iyz="-5.6096E-07"
        izz="0.00015608" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hidro_arm_2dof_urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hidro_arm_2dof_urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="2.4506E-05 -0.080142 -0.018964"
        rpy="0 0 0" />
      <mass
        value="0.094157" />
      <inertia
        ixx="0.00015435"
        ixy="-7.262E-08"
        ixz="-5.794E-09"
        iyy="1.4679E-05"
        iyz="-1.0071E-05"
        izz="0.00015963" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hidro_arm_2dof_urdf/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hidro_arm_2dof_urdf/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="-0.064701 -0.001955 -0.04685"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="-3.1859E-08 -0.039593 -0.0062602"
        rpy="0 0 0" />
      <mass
        value="0.027685" />
      <inertia
        ixx="3.3553E-05"
        ixy="3.1357E-11"
        ixz="9.2484E-13"
        iyy="1.2727E-06"
        iyz="-8.4475E-07"
        izz="3.4062E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hidro_arm_2dof_urdf/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hidro_arm_2dof_urdf/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 -0.16 -0.03715"
      rpy="0 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>
